html {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #ffe500;
  display: block;
  text-align: center;
  margin: 0;
  padding: .2em .5em .3em;
}

h1 {
  margin: .3rem;
  font-size: 3rem;
}

h1, h2 {
  font-family: "Sigmar One", serif;
  color: #b20953;
}

nav li {
  display: inline-block;
  font-family: Georgia, serif;
  color: #FFF;
}

nav a {
  display: inline-block;
  padding: .2em .5em .3em;
  text-decoration: none;
  border-radius: 4px;
  background-color: #b2a212;
  color: #FFF;
}

.current {
  background-color: #b20953;
}

a:hover {
  background-color: #cc1465;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

body {
  margin: 0;
}

h2 {
  padding: .75em;
  font-size: 1.875rem;
}

p {
  padding: .75em;
  color: #2f2d13;
}

footer {
  background-color: #ffe500;
  display: block;
  text-align: center;
  padding: .75em;
  margin: .3em;
}
